@import "tailwindcss";

@theme inline {
  --color-primary: #161616;
  --color-secondary: #FAF9F6;
  --color-accent: #B88A44;
  --color-supporting: #6E6E6E;

  --font-sans: var(--font-inter), sans-serif;
  --font-serif: var(--font-playfair), serif;
}

:root {
  --background: var(--color-secondary);
  --foreground: var(--color-primary);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
  }
}
